@media (max-width: 1855px) {
  .portfolio .img-wrap .img-container-wrap .img-container {
    width: 750px;
    height: 375px;
  }
}
@media (max-width: 1730px) {
  .about-me .wrap p br {
    display: none;
  }
  .portfolio .img-wrap .img-container-wrap .img-container {
    width: 650px;
    height: 325px;
  }
}
@media (max-width: 1465px) {
  .about-me .wrap p {
    font-size: 1.875rem;
  }
  .portfolio .img-wrap .img-container-wrap .img-container {
    width: 550px;
    height: 275px;
  }
}
@media (max-width: 1355px) {
  .contacts img {
    max-width: 474px;
    max-height: 593px;
  }
  .contacts ul li {
    font-size: 1.875rem;
  }
}
@media (max-width: 1250px) {
  .portfolio .img-wrap .img-container-wrap .img-container {
    width: 750px;
    height: 375px;
  }
}
@media (max-width: 1210px) {
  .about-me .wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-me .wrap .computer-icon {
    margin: 0;
    margin-bottom: 50px;
  }
  .about-me .wrap p {
    text-align: center;
  }
}
@media (max-width: 1170px) {
  .contacts {
    text-align: center;
  }
  .contacts img {
    display: inline-block;
    margin: 0;
    margin-bottom: 50px;
  }
  .contacts ul {
    display: block;
  }
  .contacts ul li {
    font-size: 1.875rem;
  }
}
@media (max-width: 1030px) {
  header {
    position: relative;
  }
  header nav {
    height: auto;
    display: block;
    margin: 0;
  }
  header nav ul li {
    display: block;
    border: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
  }
  header nav ul li a {
    width: 100%;
    display: inline-block;
  }
  header nav ul li:first-child {
    border-left: none;
    border-top: none;
  }
  footer .developer {
    display: none;
  }
}
@media (max-width: 920px) {
  .portfolio .img-wrap .img-container-wrap .img-container {
    width: 650px;
    height: 325px;
  }
}
@media (max-width: 820px) {
  .portfolio .img-wrap {
    display: block;
    margin-left: 0;
  }
  .portfolio .img-wrap .img-container-wrap .img-container {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    margin-right: 0;
    position: relative;
  }
  .portfolio .img-wrap .img-container-wrap .img-container img {
    position: absolute;
  }
}
@media (max-width: 720px) {
  .about-me {
    padding-left: 0;
    padding-right: 0;
  }
  .about-me .background-wrap h3 {
    font-size: 3rem;
    display: block;
  }
  .portfolio .img-wrap .img-container-wrap .img-container .info {
    height: 120px;
  }
  .portfolio .img-wrap .img-container-wrap .img-container .info h3 {
    font-size: 1.75rem;
  }
  .portfolio .img-wrap .img-container-wrap .img-container .info h4 {
    font-size: 1.325rem;
  }
}
@media (max-width: 640px) {
  .contacts {
    padding-left: 0;
    padding-right: 0;
  }
  .contacts img {
    width: 100%;
    height: auto;
    max-width: unset;
    max-height: unset;
  }
}
@media (max-width: 620px) {
  .greetings h1 {
    font-size: 3.5rem;
  }
  .about-me .tiles .tile-wrap .tile {
    width: 300px;
    height: 300px;
  }
  .about-me .tiles .tile-wrap .tile .tile-content-wrap {
    text-align: center;
  }
  .about-me .tiles .tile-wrap .tile img {
    width: 75%;
  }
}
@media (max-width: 520px) {
  .greetings h1 {
    font-size: 2.5rem;
  }
  .about-me .background-wrap h3 {
    font-size: 2.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 420px) {
  footer {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 520px) {
  .about-me h2 {
    font-size: 2.75rem;
  }
  .portfolio h2 {
    font-size: 2.75rem;
  }
  .contacts h2 {
    font-size: 2.75rem;
  }
}